@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:wght@400..800&family=JetBrains+Mono:wght@400..700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
  --font-serif: 'EB Garamond', serif;
  --color-background: #F5F5F0;
  --color-foreground: #0A0A0A;
  --radius: 0px;
}

:root {
  color-scheme: light;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #000000;
  color: #FFFFFF;
}
